
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-report/
/allure-reports/
/allure-results/
/allure-results-rerun/
/~$DMS_TestCases1.xlsx/
/DMS_TestCases1.csv/
/DMS_TestCases1.xlsx/
/DMS_TestCases2.csv/
/DMS_Analysis_Summary_Report/